:root{
    --titleFont: 'Montserrat', sans-serif;
    --parrafoFont: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecera h1{
    font-family: var(--titleFont);
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    font-style: italic;
    color: #212121;
}