$titleFont: 'Montserrat', sans-serif;
$subtitleFont: 'Oswald', sans-serif;
$parrafoFont: 'Roboto', sans-serif;
$colorTitulos: #212121;
$colorGrisClaro: #c9c9c9;
$colorGrisOscuro: #8b8b8b;
$colorDetalles: orange;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}